body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0; margin: 0;font-size: 1rem;
/* 
    background-image: url("images/bg_2.jpg");
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
    background-size:  cover; */
}

header{
    text-shadow: 2px 2px 8px gray;
}

.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;   
}

.shadow{
    -webkit-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.75);
    -o-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.75);
}

.notextselect{
    -webkit-user-select: none;
    -moz-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
